MapaPeninsula.html filter=lfs diff=lfs merge=lfs -text
3.Mapa_Densidad/MapaPeninsula.html filter=lfs diff=lfs merge=lfs -text
3.Mapa_Densidad/.ipynb_checkpoints/MapaPeninsula.html filter=lfs diff=lfs merge=lfs -text
